{% extends "base.html" %}
{% block content%}
    <h3>Acesse o menu:</h3>
    {% if session.admin %}
        <ul>
            <li><a href="/register_user">Cadastrar Usuários</a></li>
            <li><a href="/register_sensor">Cadastrar Sensores</a></li>
            <li><a href="/register_atuador">Cadastrar Atuadores</a></li>
            <li><a href="/list_users">Listar Usuários</a></li>
            <li><a href="/list_sensors">Listar Sensores</a></li>
            <li><a href="/list_actuators">Listar Atuadores</a></li>
            <li><a href="/remove_user">Remover Usuário</a></li>
            <li><a href="/remove_sensor">Remover Sensor</a></li>
            <li><a href="/remove_atuador">Remover Atuador</a></li>
        </ul>
    {% endif %}
        <p>Voltar para <a href="/">página inicial</a>!</p>
{% endblock%}