<html>
    <head>
        <meta charset="UTF-8">
        <title>Cadastro de Sensor/Atuador</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/register_atuador.css') }}">
    </head>
    <body>
        <div class="login-card">
            <h3 class="form-title">Cadastrar Atuador</h3>
            <form action="http://localhost:8080/add_actuator" method="post">
                <input type="text" name="actuator_name" placeholder="Nome do Atuador" required />
                <input type="text" name="actuator_type" placeholder="Tipo do Atuador" required />
                <input type="number" name="actuator_price" placeholder="Preço do Atuador" required />
                <button type="submit">Cadastrar Atuador</button>
            </form>
        </div>
        <a href="/home">Voltar ao Início</a>
    </body>
</html>
