<html>
    <body>
        <form action = "http://localhost:8080/add_atuador" method = "post">
            <p>Nome do atuador:</p>
            <p><input type = "text" name = "nome" placeholder="Nome" required/></p>
            <p>Tipo de atuador:</p>
            <p><input type = "text" name = "tipo" placeholder="Tipo" required/></p>
            <p>Valor do atuador:</p>
            <p><input type = "text" name = "valor" placeholder="Valor" required/></p>
            <p><input type = "submit" value = "Cadastrar" /></p>
        </form>
    </body>
</html>