<html>
    <body>
        <form action = "http://localhost:8080/add_sensor" method = "post">
            <p>Nome do sensor:</p>
            <p><input type = "text" name = "nome" placeholder="Nome" required/></p>
            <p>Tipo de sensor:</p>
            <p><input type = "text" name = "tipo" placeholder="Tipo" required/></p>
            <p>Valor do sensor:</p>
            <p><input type = "text" name = "valor" placeholder="Valor" required/></p>
            <p><input type = "submit" value = "Cadastrar" /></p>
        </form>
        <a href="/home">Voltar ao Início</a>
    </body>
</html>