<html>
<head>
    <meta charset="UTF-8">
    <title>Deletar Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/delete_user.css') }}">
</head>
<body>
    <h2>Deletar Usuário</h2>
    <div class="delete-card">
        <form action="http://localhost:8080/del_user" method="post">
            <select name="user">
                {% for key, value in devices.items() %}
                <option value="{{ key }}">{{ key }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Deletar" />
        </form>
    </div>
    <a href="/home">Voltar ao Início</a>
</body>
</html>
