<html>
<head>
    <meta charset="UTF-8">
    <title>Deletar Atuador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='delete_atuador.css') }}">
</head>
<body>
    <h2>Deletar Atuador</h2>
    <div class="delete-card">
        <form action="http://localhost:8080/del_atuador" method="post">
            <select name="nome">
                {% for atuador in devices %}
                <option value="{{ atuador.nome }}">{{ atuador.nome }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Deletar" />
        </form>
    </div>
    <a href="/home">Voltar ao Início</a>
</body>
</html>
