<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Minha Aplicação{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head_extra %}{% endblock %}
</head>
<body>
    <header class="main-header">
        {% if current_user.is_authenticated %}
            <div class="user-info-wrapper">
                <p>Olá, <strong>{{ current_user.username }}</strong>!</p>

                <div class="roles-and-logout">
                    {% if current_user.has_role('admin') %}
                        <span>Admin</span>
                    {% endif %}
                    {% if current_user.has_role('estatistico') %}
                        <span>Estatístico</span>
                    {% endif %}
                    {% if current_user.has_role('operador') %}
                        <span>Operador</span>
                    {% endif %}

                    <a class="logout-button" href="{{ url_for('auth.logout') }}">Sair</a>
                </div>
            </div>
        {% else %}
            <nav>
                <a href="{{ url_for('user_.login') }}">Login</a>
            </nav>
        {% endif %}
    </header>




    <main>
        {% block content %}{% endblock %}
    </main>

    {% block scripts %}
        <!-- JS comuns a todas as páginas -->
    {% endblock %}
</body>
</html>

