<!--edit_user.html -->
{% extends"base.html" %}
{% block content%} 
    <h1 class="edit-user-a">Editar Usuário</h1>
    <div class="edit-user">
        <form method="POST">
            <label for="username">Nome de Usuário:</label><br>
            <input type="text" id="username" name="username" value="{{ user.username }}" required><br><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" value="{{ user.email }}" required><br><br>

            <label for="roles">Funções (separadas por vírgula):</label><br>
            <input type="text" id="roles" name="roles" value="{{ user.roles }}"><br><br>

            <label for="senha">Nova Senha (opcional):</label><br>
            <input type="password" id="senha" name="senha"><br><br>

            <button type="submit">Salvar Alterações</button>
        </form>

        <br>
        <form action="http://localhost:8080/list_users">
             <input type="submit" value="Voltar">
        </form>
    </div>
{% endblock%}

