<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Editar Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editar_user.css') }}">
</head>
<body>
    <h1>Editar Usuário</h1>
    <form method="POST">
        <label for="username">Nome de Usuário:</label><br>
        <input type="text" id="username" name="username" value="{{ user.username }}" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" value="{{ user.email }}" required><br><br>

        <label for="roles">Funções (separadas por vírgula):</label><br>
        <input type="text" id="roles" name="roles" value="{{ user.roles }}"><br><br>

        <label for="senha">Nova Senha (opcional):</label><br>
        <input type="password" id="senha" name="senha"><br><br>

        <button type="submit">Salvar Alterações</button>
    </form>

    <br>
    <a href="{{ url_for('user_.list_user') }}">Voltar à Lista de Usuários</a>
</body>
</html>
