{% extends "base.html" %}

{% block title %}Painel Admin{% endblock %}

{% block content %}
<div class="layout">
    <!--
    <div class="sidebar">
        <a href="/home" class="home-icon-wrapper">
            <img src="{{ url_for('static', filename='img/icon-home.png') }}" class="sidebar-icon">
            <label>Home</label>
        </a>
        
        <a href="/" class="back-button">
            <img src="{{ url_for('static', filename='img/voltar.png') }}" class="sidebar-icon">
            <label>Back</label>
        </a>
    </div>
-->
    <div class="main-content">
        {% if current_user.has_role('operador') or current_user.has_role('admin') %}
        <a href="/publish" class="card-link">
            <div class="card">
                <p>Publicar dados</p>
            </div>
        </a>
        {% endif %}
        {% if current_user.has_role('estatistico') or current_user.has_role('admin') %}
        <a href="/tr" class="card-link">
            <div class="card">
                <p>Visualizar Tempo Real</p>
            </div>
        </a>
        {% endif %}
    </div>    
</div>

{% if current_user.has_role('admin') or current_user.has_role('estatistico') or current_user.has_role('operador')%}
<div class="admin-dropdown">
    <button class="admin-toggle" type="button">
        <img src="{{ url_for('static', filename='img/icon-config.png') }}" alt="Admin">
    </button>
    <div class="admin-menu-content">
        <a href="/register_user">Cadastrar Usuários</a>
        <a href="/register_sensor">Cadastrar Sensores</a>
        <a href="/register_atuador">Cadastrar Atuadores</a>
        <a href="/list_users">Listar Usuários</a>
        <a href="/list_sensors">Listar Sensores</a>
        <a href="/list_actuators">Listar Atuadores</a>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='admin.js') }}" defer></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const dropdown = document.querySelector(".admin-dropdown");
        const toggle = document.querySelector(".admin-toggle");

        if (dropdown && toggle) {
            toggle.addEventListener("click", () => {
                dropdown.classList.toggle("open");
            });

            window.addEventListener("click", (e) => {
                if (!dropdown.contains(e.target) && !toggle.contains(e.target)) {
                    dropdown.classList.remove("open");
                }
            });
        }
    });
</script>
{% endblock %}
