<html>
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Novo Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register_user.css') }}">
</head>
<body>
            <header class="main-header">
        {% if current_user.is_authenticated %}
            <div class="user-info-wrapper">
                <p>Olá, <strong>{{ current_user.username }}</strong>!</p>

                <div class="roles-and-logout">
                    {% if current_user.has_role('admin') %}
                        <span>Admin</span>
                    {% endif %}
                    {% if current_user.has_role('estatistico') %}
                        <span>Estatístico</span>
                    {% endif %}
                    {% if current_user.has_role('operador') %}
                        <span>Operador</span>
                    {% endif %}

                    <a class="logout-button" href="{{ url_for('auth.logout') }}">Sair</a>
                </div>
            </div>
        {% else %}
            <nav>
                <a href="{{ url_for('user_.login') }}">Login</a>
            </nav>
        {% endif %}
    </header>

    
    <main>
        <h2 class="titulo">Cadastrar Novo Usuário</h2>
        <div class="login-card">
            {% if erro %}
                <p style="color:red">{{ erro }}</p>
            {% endif %}
            <form action="{{ url_for('auth.add_user') }}" method="post">
                <input type="text" name="username" placeholder="Nome de usuário" required />
                <input type="email" name="email" placeholder="E-mail" required />
                <input type="password" name="senha" placeholder="Senha" required />
                <label>Perfis de acesso:</label><br>
                <input type="checkbox" name="roles" value="admin"> Admin<br>
                <input type="checkbox" name="roles" value="estatistico"> Estatístico<br>
                <input type="checkbox" name="roles" value="operador"> Operador<br>

                <button type="submit">Cadastrar</button>
            </form>
            <a href="/home" class="standard-btn">Voltar ao Início</a>
        </div>
    </main>
</body>
</html>

