<html>
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Novo Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register_user.css') }}">
</head>
<body>
    <h2 class="titulo">Cadastrar Novo Usuário</h2>
    <div class="login-card">
        {% if erro %}
            <p style="color:red">{{ erro }}</p>
        {% endif %}
        <form action="{{ url_for('auth.add_user') }}" method="post">
            <input type="text" name="username" placeholder="Nome de usuário" required />
            <input type="email" name="email" placeholder="E-mail" required />
            <input type="password" name="senha" placeholder="Senha" required />
            <button type="submit">Cadastrar</button>
        </form>
        <a href="/">Voltar ao Login</a>
    </div>
</body>
</html>
