<html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Cadastro de Sensor/Atuador</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/register_sensor.css') }}">
    </head>
    <body>
        <header class="main-header">
            {% if current_user.is_authenticated %}
                <div class="user-info-wrapper">
                    <p>Olá, <strong>{{ current_user.username }}</strong>!</p>

                    <div class="roles-and-logout">
                        {% if current_user.has_role('admin') %}
                            <span>Admin</span>
                        {% endif %}
                        {% if current_user.has_role('estatistico') %}
                            <span>Estatístico</span>
                        {% endif %}
                        {% if current_user.has_role('operador') %}
                            <span>Operador</span>
                        {% endif %}

                        <a class="logout-button" href="{{ url_for('auth.logout') }}">Sair</a>
                    </div>
                </div>
            {% else %}
                <nav>
                    <a href="{{ url_for('user_.login') }}">Login</a>
                </nav>
            {% endif %}
        </header>

        <main>
            <h2 class="titulo">Cadastrar Novo Dispositivo</h2>

            <!-- Cadastro de Sensor -->
            <div class="login-card">
                <h3 class="form-title">Cadastrar Sensor</h3>
                <form action = "http://localhost:8080/add_sensor" method = "post">
                    <input type="text" name="name" placeholder="Nome do Sensor" required />
                    <input type="text" name="brand" placeholder="Marca do Sensor" required />
                    <input type="text" name="model" placeholder="Modelo do Sensor" required />
                    <input type="number" name="unit" placeholder="Unidades" required />
                    <input type="text" name="topic" placeholder="Topico MQTT" required />
                    <div>
                            <input type="checkbox" id="is_active" name="is_active" checked />
                            <label for="is_active">Ativo?</label>
                        </div>
                    <button type="submit">Cadastrar Sensor</button>
                    <a href="/home">Voltar ao Início</a>
                </form> 
            </div>
        </main>
    </body>
</html>
