{% extends"base.html" %}
{% block content%} 
    <div class="container-tr">
        <h2 class="mt-4">Leituras em Tempo Real</h2>
        <div class="row">
            <div class="col-md-7 sensor-card">
                <img src="/static/img/imagem3.png" alt="" class="img-tr">
                <p>Temperatura</p>
                <p class="sensor-value" id="temp-value">-- ºC</p>
            </div>
            <div class="col-md-6 sensor-card">
                <img src="/static/img/imagem4.png" alt="" class="img-tr">
                <p>Umidade</p>
                <p class="sensor-value" id="hum-value">-- %</p>
            </div>
        </div>
    </div>

    <script>
        async function updateSensors() {
            const res = await fetch('/api/latest');
            const data = await res.json();
            document.getElementById('temp-value').textContent = data.temperature + " ºC";
            document.getElementById('hum-value').textContent = data.huminity + " %";
        }

        setInterval(updateSensors, 3000);
        updateSensors(); // primeira chamada
    </script>
{% endblock%}
