{% extends "base.html" %}
{% block content %}
<main>
    

    <div class="edit-user">
        <h2 class="edit-user-a">Alterar Atuador</h2>
        {% for actuator in actuator %}
        <form action="http://localhost:8080/update_actuator" method="post">
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" value="{{ actuator.id }}" readonly />

            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" value="{{ actuator.name }}" required />

            <label for="brand">Marca:</label>
            <input type="text" id="brand" name="brand" value="{{ actuator.brand }}" required />

            <label for="model">Modelo:</label>
            <input type="text" id="model" name="model" value="{{ actuator.model }}" required />

            <label for="unit">Unidade de Medida:</label>
            <input type="text" id="unit" name="unit" value="{{ actuator.unit }}" required />

            <label for="topic">Tópico MQTT:</label>
            <input type="text" id="topic" name="topic" value="{{ actuator.topic }}" required />

            <div>
            <input type="checkbox" id="is_active" name="is_active" {% if actuator.is_active %}checked{% endif %} />
            <label for="is_active">Ativo?</label>
            </div>

            <input type="submit" value="Alterar" />
        </form>
        {% endfor %}
        
        <form action="http://localhost:8080/list_actuators">
            <input type="submit" value="Voltar" />
        </form>
    </div>

</main>
{% endblock %}
