<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listar_user.css') }}">
</head>
<body>
            <header class="main-header">
        {% if current_user.is_authenticated %}
            <div class="user-info-wrapper">
                <p>Olá, <strong>{{ current_user.username }}</strong>!</p>

                <div class="roles-and-logout">
                    {% if current_user.has_role('admin') %}
                        <span>Admin</span>
                    {% endif %}
                    {% if current_user.has_role('estatistico') %}
                        <span>Estatístico</span>
                    {% endif %}
                    {% if current_user.has_role('operador') %}
                        <span>Operador</span>
                    {% endif %}

                    <a class="logout-button" href="{{ url_for('auth.logout') }}">Sair</a>
                </div>
            </div>
        {% else %}
            <nav>
                <a href="{{ url_for('user_.login') }}">Login</a>
            </nav>
        {% endif %}
    </header>

    
    <main>
        <h1 class="titulo">Usuários Cadastrados</h1>
        <div class="login-card">
            <ul>
                {% for user in users %}
                    <li>
                        {{ user.username }} - senha: {{ user.password }}
                        <div class="user-actions">
                            <a href="{{ url_for('user_.edit_user', user_id=user.id) }}" class="btn edit-btn">Editar</a>
                            <form action="{{ url_for('user_.delete_user', user_id=user.id) }}" method="post" onsubmit="return confirm('Tem certeza que deseja deletar este usuário?');">
                                <button type="submit" class="btn delete-btn">Deletar</button>
                            </form>
                        </div>
                    </li>
                {% else %}
                    <li>Nenhum usuário encontrado.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="btn-container">
            <a href="{{ url_for('user_.home') }}" class="standard-btn">Voltar ao Início</a>
            <a href="{{ url_for('user_.register_user') }}" class="standard-btn">Cadastrar Novo Usuário</a>
        </div>
    </main>
</body>
</html>
