<html>
<head>
    <meta charset="UTF-8">
    <title>Lista de Atuadores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listar_atuador.css') }}">
</head>
<body>
    <h1 class="titulo">Atuadores Cadastrados</h1>
    <div class="login-card">
        <ul>
            {% for atuador in atuadores %}
                <li><strong>{{ atuador.nome }}</strong> ({{ atuador.tipo }}): {{ atuador.valor }}</li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <a href="/register_atuador">Cadastrar Novo Atuador</a> 
     <a href="/home">Voltar ao Início</a>
</body>
</html>
